{% extends 'laptop/base.html' %}
{% block content %}
    {% if messages %}
    <script>
        {% for message in messages %}
            alert("{{ message }}");
        {% endfor %}
    </script>
    {% endif %}
    <div class="card shadow-sm p-4 mx-auto" style="max-width: 600px;">
    <h3 class="text-center mb-4">Booking {{ laptop.brand }} {{ laptop.name }}</h3>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}

        <div class="mb-3">
            {{ form.customer_name.label_tag }}
            {{ form.customer_name }}
        </div>

        <div class="mb-3">
            {{ form.customer_address.label_tag }}
            {{ form.customer_address }}
        </div>

        <div class="mb-3">
            {{ form.rental_date.label_tag }}
            {{ form.rental_date }}
        </div>

        <div class="mb-3">
            {{ form.location_pin.label_tag }}
            {{ form.location_pin }}
        </div>

        <div class="mb-3">
            <label>Verifikasi:</label>
            {{ form.captcha }}
        </div>

        <button type="submit" class="btn btn-success w-100">Booking Sekarang</button>
    </form>

    <div class="text-center mt-3">
        <a href="{% url 'laptop_list' %}" class="text-primary">Kembali ke daftar laptop</a>
    </div>
</div>
{% endblock %}
